<mat-sidenav-container class="admin-container">
  <mat-sidenav #sidenav 
    [mode]="(isMobile$ | async) ? 'over' : 'side'" 
    [opened]="!(isMobile$ | async)" 
    class="admin-sidebar">
    <mat-nav-list>
      <a mat-list-item 
        routerLink="/admin/dashboard" 
        routerLinkActive="active-link"
        (click)="closeOnMobile()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item 
        routerLink="/admin/users" 
        routerLinkActive="active-link"
        (click)="closeOnMobile()">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Users</span>
      </a>
      <a mat-list-item 
        routerLink="/admin/settings"
        routerLinkActive="active-link"
        (click)="closeOnMobile()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
      </a>
       <a mat-list-item 
        routerLink="/admin/component-show"
        routerLinkActive="active-link"
        (click)="closeOnMobile()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Component Show</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Admin Panel</span>
       <span class="spacer"></span>
       <!-- Modern Search Box -->
        <div class="search-box">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search..." (input)="onSearch($event)">
        </div>

        <span class="spacer"></span>

  
       <button mat-icon-button (click)="themeService.toggleTheme()">
            <mat-icon>{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="onLogout()" title="Logout">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    
    <div class="admin-content">
        <div [class.dark-theme]="themeService.isDarkMode()">
            <router-outlet></router-outlet>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
