.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fbf8ff; // Your surface color
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.login-btn {
  padding: 24px;
}
