@use '@angular/material' as mat;
@use '../m3-theme' as theme;

@include mat.core();

html {
  // Apply the light theme by default
  @include mat.all-component-themes(theme.$light-theme);
}

// Optional: Admin Dark Mode
.dark-admin-theme {
  @include mat.all-component-themes(theme.$dark-theme);
}
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
